:root {
  --basic-red: #EE3643;
  --basic-red-dart: #CA2C37;
  --basic-greylight: #C5C5C5;
  --basic-greylighter: #EAEAEA;
  --basic-green: #63A63E;
  --basic-green-dark: #518534;
  --white: #FFFFFF;
  --black: #000000;
  --basic-grey: #3D546F;

  --basic-grey-dark: #32425C;
  --basic-grey-dark-trancend: rgba(50, 66, 92, 0.5);
  --basic-grey-darkest: #212A3A;
  --basic-background: #F1F5F7;
  --background-grey: #F3F7F9;
  --background-page-title: #F2F6F8;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;

  --header-panel: #293449;
  --header-panel-click: #161D29;
  --header-phone-icon: #B7BFC8;

  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-grenlight: #8ED78F;

  --promo-yellow: #FFC047;
  --section-background: #F9F5F0;
  --nav-background: rgba(0, 0, 0, 0.01);
  --nav-background-active: #1D2739;
  --slider-background: rgba(0, 0, 0, 0.25);
  --promo-button-background: rgba(255,255,255,0.3);
  --promo-button-background-hover: rgba(197,197,197,0.3);
  --promo-button-background-active: rgba(169,169,169,0.3);
  --catalog-filters-background: #F7F3EC;

  --color-old-price: #A9A9A9;
  --color-trancend: rgba(255,255,255,0.5);
  --color-black-trancend: rgba(0, 0, 0, 0.1);
  --color-black-light: rgba(0, 0, 0, 0.3);

  --border-grey: #E5E5E5;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.main-header-panel, .main-header-panel a, .main-header-panel, .search {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-panel);
  color: var(--white);
}

.search {
  color: var(--black);
}

.search::placeholder {
  color: var(--white);
}

.main-header-panel a:active {
  background-color: var(--header-panel-click);
  color: var(--color-trancend);
}

.main-header-panel .basket-active {
  background-color: var(--basic-red);
}

.main-header-panel button {
  line-height: 24px;
  background-color: var(--basic-green);
  color: var(--white);
}

.main-header-panel button:hover {
  background-color: var(--success);
}

.main-header-panel button:active {
  background-color: var(--basic-green);
  color: var(--color-trancend);
}

.main-navigation {
  background-color: var(--nav-background);
}

.search:focus {
  background-color: var(--white);
}

.search:focus::placeholder {
  color: var(--black);
}

.main-header-about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-grey-dark);
}

.header-authorization a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.header-authorization a:hover {
  color: var(--basic-red);
}

.header-authorization a:active {
  color: var(--basic-greylight);
}

.header-profile a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.header-profile a:active {
  color: var(--basic-greylight);
}

.account-panel a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-dark);
}

.account-panel a:hover {
  color: var(--basic-red);
}

.account-panel a:active {
  color: var(--basic-greylight);
}

.site-navigation-list {
  background-color: var(--basic-grey-dark);
}

.site-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.site-navigation-list a:hover {
  background-color: var(--header-panel);
}

.site-navigation-list a:active {
  background-color: var(--nav-background-active);
  color: var(--color-trancend);
}

.promo {
  color: var(--white);
}

.promo-block-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-materials {
  background-color: var(--special-yellow);
}

.promo-tools {
  background-color: var(--special-blue);
}

.promo-technics {
  background-color: var(--special-lilac);
}

.promo-block-sales {
  background-color: var(--special-grenlight);
}

.promo-delivery {
  background-color: var(--promo-yellow);
}

.promo-button {
  background-color: var(--promo-button-background);
}

.promo-button:hover {
  background-color: var(--promo-button-background-hover);
}

.promo-button:active {
  background-color: var(--promo-button-background-active);
}

.slider-content {
  background-color: var(--slider-background);
}

.slider-content h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.slider-button:hover {
  background-color: var(--basic-red-dart);
}

.slider-button:active {
  background-color: var(--error);
}

.section-header {
  background-color: var(--section-background);
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--basic-grey-dark);
  text-transform: uppercase;
}

.good-list {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.good-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.good-item del {
  font-size: 17px;
  line-height: 18px;
  color: var(--color-old-price);
}

.good-view {
  font-size: 17px;
  line-height: 18px;
}

.producer-item a {
  width: 220px;
  height: 145px;
}

.service {
  background-color: var(--basic-background);
}

.service h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-item-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-grey-dark);
  color: var(--white);
}

.service-item-button:hover {
  background-color: var(--header-panel);
}

.service-item-active .service-item-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--white);
  color: var(--basic-grey-dark);
}

.service-slider-item h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey-dark);
  text-transform: uppercase;
}

.about h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.about-delivery-list {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.main-footer, .main-footer a {
  color: var(--basic-background);
}

.main-footer-contacts, .footer-site-map {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-grey-dark);
}

.main-footer-contacts address {
  font-style: normal;
}

.footer-site-map a:hover {
  text-decoration: underline;
}

.footer-site-map a:active {
  opacity: 0.5;
}

.footer-promo-list a {
  color: var(--special-yellowlight);
}

.footer-bottom {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--header-panel);
  color: var(--white);
}

.footer-social a {
  color: var(--white);
}

.feedback a, .designed a {
  color: var(--special-yellowlight);
}

.feedback a:hover, .designed a:hover {
  text-decoration: underline;
}

.feedback a:active, .designed a:active {
  color: var(--basic-red);
}

.breadcrumbs-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.page-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey-dark);
  background-color: var(--background-page-title);
}

.goods-filter, .goods-sort {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.goods-filter h2, .goods-sort h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.goods-filter h2, .goods-sort {
  background-color: var(--catalog-filters-background);
}

.button-sort {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--catalog-filters-background);
  color: var(--color-black-light);
  border: none;
  border-bottom: 1px dashed var(--basic-red);
  padding: 0;
  outline: none;
}

.button-sort:hover {
  color: var(--black);
  border-bottom: 1px solid var(--basic-red);
  padding-bottom: 1px;
}

.button-sort:active {
  color: var(--basic-red);
  border-bottom: none;
  padding-bottom: 1px;
}

.button-sort-active {
  color: var(--basic-red);
  border-bottom: none;
  padding-bottom: 1px;
}

.nav_pages-list a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--black);
}

.nav_pages-item a:hover {
  border-color: var(--basic-greylight);
}

.nav_pages-item a:active {
  border-color: var(--basic-red);
}

.nav_pages-item-active a {
  color: var(--white);
  border-color: var(--basic-red);
  background-color: var(--basic-red);
}

.seo-content {
  background-color: var(--basic-background);
}

.seo-content h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.seo-content p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.good-buy, .good-bookmark {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 2px;
  outline:none;
}

.good-buy {
  border: none;
  color: var(--white);
  background-color: var(--basic-green);
}

.good-buy:hover {
  background-color: var(--success);
}

.good-buy:active {
  background-color: var(--basic-green-dark);
}

.good-bookmark {
  color: var(--basic-grey-dark);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
}

.good-bookmark:hover {
  border-color: var(--basic-grey-dark);
}

.good-bookmark:active {
  border-color: var(--basic-grey-dark-trancend);
  color: var(--basic-grey-dark-trancend);
}

.main-header-logo img {
  background-color: var(--basic-red);
  padding: 12px 56px 17px 56px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer-logo img {
  background-color: var(--basic-red);
  padding: 20px 42px 25px 42px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
